<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_3wNQntZRyqMLgrAAcqolp48rh47PO2k</string>
	<key>GCM_SENDER_ID</key>
	<string>851006050471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.k3hTechnologies.k3hNewErpApp</string>
	<key>PROJECT_ID</key>
	<string>k3htechnologies-erp-app</string>
	<key>STORAGE_BUCKET</key>
	<string>k3htechnologies-erp-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851006050471:ios:514fee2d63d83fbfed4b82</string>
</dict>
</plist>